<div class="panel panel-default">
	<div class="panel-body row" >
		<div class="col-md-4">
			<img class="img-responsive" src="images/taco.jpg">
		</div>
		<div class="col-md-4">
			<h1>{{restaurant.restaurantName}}</h1>
			<p>{{restaurant.restaurantAddress1}}</p> <br>
			<p>{{restaurant.restaurantPhoneNumber}}</p>
		</div>
		<div class="col-md-4">
			<h2>{{Violations.violationId}}</h2>
			<ul>
				<li><i class="fa fa-hand-spock-o" aria-hidden="true"></i></li>
				<li><i class="fa fa-cutlery" aria-hidden="true"></i></li>
			</ul>
			<button type="button" class="btn btn-primary active">Learn More</button>
			<a href="https://www.linkedin.com/in/dannielle-bojorquez/" target="_blank"><i
				class="fa fa-linkedin fa-fw"></i></a>
		</div>
	</div>
</div>