<main class="search">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="panel panel-default">
					<div class="panel-body lead">
						<form #restaurantSearch="ngForm" id="restaurantSearch" name="restaurantSearch">
							<label for="searchName"></label>
							<h1 class="homeh1">
								Foodquisition
							</h1>
							<p>Searchable results from the City of Albuquerque restaurant inspections</p>
							<div class="input-group">
								<input id="searchName" class="form-control input-lg" name="searchName"
										[disabled]="loading" (input)="searchNameStream.next($event.target.value)">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div *ngIf="loading" class="alert alert-info">
					<h4><i class="fa fa-spin fa-spinner"></i> Loading</h4>
					<p>Finding an awesome, safe place to eat.</p>
				</div>
				<div class="panel panel-default" *ngFor="let restaurantResult of restaurantResults; let i = index">
					<div class="panel-body">
						<div class="col-md-2">
							<img class="img-responsive" [src]="'data:image/jpg;base64,' + imageResults[i].image">
						</div>
						<div class="col-md-7">
							<h1>{{restaurantResult.restaurantName}}</h1>
							<p class="cardp">{{restaurantResult.restaurantAddress1}} <br>
								{{restaurantResult.restaurantCity}}, {{restaurantResult.restaurantState}}
								{{restaurantResult.restaurantZip}}
							</p>
						</div>
						<div class="col-md-3 col2">
							<pre>{{restaurantResult.restaurantId}}</pre>
							<button (click)="switchRestaurant(restaurantResult)" class="btn btn-primary active">Inspection
								Results
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
