
/** Home Page CSS **/
.background {
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/food1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}
h1{
	text-align: center;
	font-size: 6rem;
	color: whitesmoke;
	text-shadow: 2px 2px #629f6b;
}
.search-bar form {
	margin: auto;
	text-align: center;

}
.search-input{
	padding: 5px;
	border-radius: 50px;
	height: 40px;
	width: 450px;
}
/** search card CSS **/
.image pull-left {
	/**background-image: url("../images/food.jpg");**/
}
.top {
	color: lightgrey;
	width: 70%;
}
.w3-container {
	text-align: center;
}