
/*
* Google Font
 */
@import url('https://fonts.googleapis.com/css?family=Merienda');

/** Back button ****/
.button {
	border-radius: 4px;
	background-color: #337ab7;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	padding: 4px;
	width: 11rem;
	transition: all 0.5s;
	cursor: pointer;
	margin: 42px;
	padding-left: 0px;
}
.button:hover {
	background-color: #286090;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-left: 25px;
}

.button:hover span:after {
	opacity: 1;
	left: 0;
}
.col2 {
	padding-top: 7%;
}
/****************************
* Home Page
*****************************/

body {
	background-image: url("app/images/tableblur.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.homeh1 {
	font-family: 'Merienda', cursive;
	font-size: 5rem !important;
}

.search {
	padding-top: 15rem;
}

main .jumbotron {
	background: transparent;
}

.panel {
	opacity: 0.9;
}

.resulth2 {
	text-align: left;
}
.cardp {
	text-align: left;
}

form {
	margin-top: -5rem;
}
main p {
	text-align: center;
}
/********* search card css ***************/
.card {
	padding:15%;
}

.fa {
	font-size: large;
}
ul {
	padding-bottom: 25%;
}
/********* Result Panel *****************/
.center {
	text-align: center;
}

#inspectionDate {
	padding-left: 2rem;
	padding-top: 2rem;
}

/****** Navbar *******/
.navbar-default {
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}
.right {
	text-align: right;
	text-decoration: solid;
}